@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    color: #2b2b2b;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    max-width: 720px;
    margin: auto;
    padding: 1.2em;
    background-color: #ffffff;
}

#profile_pic {
    float: right;
    width: 130px;
    margin-left: 1em;
}

h1, h2 {
    color: #111;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD",
                 "Book Antiqua", Cambria, Georgia, serif;
    font-weight: normal;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 0.6rem;
}

h3 {
    font-weight: normal;
    color: #444;
}

th {
    padding: 0 1rem;
    text-align: right;
    font-weight: 600;
    color: #555;
    white-space: nowrap;
}

td {
    padding: 0.2rem 0;
}

li {
    margin: 1.2rem 0;
}

a {
    color: #1a4fb3; /* academic blue */
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a:hover,
a:focus {
    border-bottom: 1px solid #1a4fb3;
}

a:visited {
    color: #1a4fb3;
}

u {
    text-decoration: none;
    border-bottom: 1px solid #333;
}

b {
    font-weight: 600;
}
